@import"../../variables.scss";
.containerS {
    height: 100vh;
    width: 100vw;
    @include flex(center,center,$vertical:true);
    .cardContainerS {
        height: 400px;
        width: 800px;
        @include flex(center,center);
        border-radius: 10px;
        box-shadow: 0px 24px 48px 0 rgba(0,0,0,0.16);
        background-color: $white;
        .leftContainerS {
            background-color: $sea_blue;
            border-radius: 15px;
            width: 30%;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            @include flex(center,center,$vertical: true);
            .headerS {
                color: $white;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .signUpButtonS {
                background-color: $white;
                color: $black;
                border-radius: 20px;
                border: none;
                padding: 10px 20px;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 1px 1px -6px rgba(0,0,0,0.8);
                outline: none;
            }
        }
        .rightContainerS {
            width: 70%;
            height: 100%;
            @include flex(center,center,$vertical: true);
            .loginHeaderS {
                font-size: 20px;
                font-weight: 700;
                color: $black;
                margin-bottom: 25px;
            }
            .logInFormS {
                @include flex(center,center,$vertical: true);
                .errorTextS {
                    color: $red;
                }                
                .inputTagS {
                    background-color: $input_color;
                    outline: none;
                    border:none;
                    border-radius: 5px;
                    padding: 10px 10px;
                    width: 250px;
                    margin-bottom: 20px;
                }
                .signInButtonS {
                    background-color: $sea_blue;
                    color: $white;
                    border-radius: 20px;
                    border: none;
                    padding: 10px 20px;
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
                    outline: none;
                }
            }
        }
    }
}






